<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385068358289-a12h0mitumqhtriujad6oe0impjs4nsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385068358289-a12h0mitumqhtriujad6oe0impjs4nsb</string>
	<key>API_KEY</key>
	<string>AIzaSyDVcGbAkaPdz2S-KUffu_g6TnPavYJ_KLo</string>
	<key>GCM_SENDER_ID</key>
	<string>385068358289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytryniuk.LinkFade</string>
	<key>PROJECT_ID</key>
	<string>linkfade-bfb55</string>
	<key>STORAGE_BUCKET</key>
	<string>linkfade-bfb55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385068358289:ios:51e3b5eb0b06483e1efd30</string>
</dict>
</plist>